body
{
    background-size:cover;
    background-position:center;
   
}


.heading {
    box-shadow:5px 10px 10px rgba(255, 133, 233, 0.553);
    border-color:rgb(165, 0, 254);
    border-style:double;
    width:300px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height:50px;
    font-size:30px;
    font-weight:bold;

}
a {
width:80px;
height:30px;    
border-width:10px;
box-shadow:10px 10px 19px rgba(255, 123, 0, 0.556);
width: 150px;
height:50px;
}

footer {
    border-width:5px;
    border-color:rgba(153, 0, 255, 0.332);
    border-style:solid;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(255, 255, 255, 0.64);
    background-color:rgba(139, 0, 139, 0.451);
    
}